.brend {
    background-color: black;
    height: 144px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 168px;
}